<?xml version="1.0"?>
<robot name="husky_ur5" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- myrobot urdf file 
	<xacro:include filename="$(find mypackage)/urdf/myrobotarm_no_end_effectors.urdf"/>
	-->
	<!-- add any joints/links required to connect the two 
	<xacro:include filename="$(find mypackage)/urdf/an_end_effector.urdf.xacro"/>
	-->

	<xacro:include filename="$(husky_description)/urdf/husky.urdf.xacro"/>
	
	<xacro:include filename="$(ur_description)/urdf/ur5_robot.urdf.xacro"/>
	
	<joint name="husky_ur5_joint" type="fixed">
		<parent link="top_plate_link"/>
		<child link="ur5base_link"/>
	</joint>
		
</robot>
